<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mt-5">
        <div class="card-header">
          <h4 class="text-center">Создание команды</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="createTeamForm" (ngSubmit)="onSubmit()">
            <div class="form-group mt-3">
              <label for="teamName">Название команды</label>
              <input type="text" id="teamName" formControlName="teamName" class="form-control" placeholder="Введите название команды...">
           <span>{{error}}</span>
            </div>
            <button type="submit" class="btn btn-primary btn-block mt-2">Создать команду</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
